body {
	width: 400px;
	height: 115px;
	background-color: #87d4f5;
}

.newTweet {
	line-height: 12px;
  padding-left: 100;
}

.logo {

}

button {
	margin-top: 8px;
	position: absolute;
	right: 5px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .5em 2em calc(.5em + 1px);
  border-radius: 6px;
  background: rgb(92, 184, 224);
  box-shadow: 0 -1px rgb(53,167,110) inset;
  transition: 0.2s;
} 

button:hover { background: rgb(111, 199, 237); }
button:active {
  background: rgb(111, 199, 237);
  box-shadow: 0 3px rgb(111, 199, 237) inset;
}